{% macro create_post_preview(title="", username="", post_id="", timestamp="", deleteButton="") -%}
  <div class="post" id="post-{{post_id}}">
    <div class="post card columns is-mobile" style="margin:0 0 10px 0" >
      <div class="column is-paddingless">
        <a href="/post/{{post_id}}" onmouseover="this.style.opacity='0.7';"
          onmouseout="this.style.opacity='1';" class="hero">
          <div class="hero-body level" style="padding:30px">
            <div class="container">
              <h1 class="title is-3 level-left" name="title">{{title}}</h1>
              <h1 class="subtitle level-left" name="by">by {{username}}</h1>
            </div>
            <div class="container level-right">
              <h1 class="subtitle level-right">{{timestamp | format_date}}</h1>
            </div>
          </div>
        </a>
      </div>
      {% if deleteButton %}
        <div class="is-divider-vertical" style="width:1px; margin:15px 0;background:rgba(10,10,10,.2);"></div>
        <div class="column is-narrow hero">
          <div class="hero-body is-paddingless is-flex" style="align-items: center">
            <button class="delete" type="button" name="delete-button" style="margin:20px; padding:20px"
              id="{{post_id}}"></button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{%- endmacro %}
