{% extends "basic_templates/no-scroll.html" %}

{% block main %}
<div class="hero-body">
  <div class="card column is-4 is-offset-4" style="padding : 30px">
    <h1 class="title has-text-centered">Sign-in</h1>
    <form class="sign-in" action="/sign-in" method="post">
      <div class="field">
        <input class="input" type="text" id="username" name="username" placeholder="Username">
      </div>
      <div class="field">
        <input class="input" type="password" id="password" name="password" placeholder="Password">
      </div>
      {% if error %}
      <div class="tags is-centered is-marginless">
        <span class="tag is-danger is-light">{{error}}</span>
      </div>
      {% endif %}
      <div class="field level is-mobile">
        <div class="level-left">
          <label class="checkbox">
            <input class="checkbox" type="checkbox" id="remember" name="Remember">
            Remember
          </label>
        </div>
        <div class="level-right">
          <a href="#">Forgot password?</a>
        </div>
      </div>
      <button class="button is-primary is-fullwidth" type="submit" id="button">Submit</button>
    </form>
  </div>
</div>
{% endblock %}
